  <div class="d-flex justify-content-center" style="margin-top: 10%;">
    <div class="card" style="background-color: ;">
      <div class="card-body">
        <h1 class="card-title">Login</h1>
        <div class="form-group">
          <form action="home.php" method="post">
            <label for="email"></label>
            <input style="border-radius: 1rem;"type="text" name="email" id="email" class="form-control" placeholder="Please type your mail" aria-describedby="helpId">
            <label for="psw"></label>
            <input style="border-radius: 1rem;"type="password" name="psw" id="psw" class="form-control" placeholder="Please type your password" aria-describedby="helpId">
            <button type="submit" class="btn btn-primary" id="loginSend" style="margin-top: 5%;border-radius: 1rem;">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>